@model PetGrooming.Models.Species
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<form method="POST" action="/Species/Update/@Model.SpeciesID">
    <span>
    Species Name:<input type="text" name="Name" id="Name" value="@Model.Name"><br/></span>
        <input type="submit" value="Update Species" />
    </form>


