@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>List of Pets</h2>

@{ 
    foreach (var Pet in Model)
    {
    <div>
        <span><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></span>
        <span>@Pet.Species.Name</span>
        <span>@Pet.Weight</span>
        
        <a href="/Pet/Add/@Pet.PetID" style="background-color:darkgray">Add</a>
        <a href="/Pet/Update/@Pet.PetID">Update</a>
        <a href="/Pet/Delete/@Pet.PetID">Delete</a>
    </div>
    }
}
